.App {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.solid {
  height: 1px;
  background-color: black;
  margin-top: 20px;
}

.add-course {
  margin-top: 20px;
}


.done-course {
  background-color: #61dafb;
  margin: auto 0;
  text-align: center;
  border-radius: 5px;
}

.input {
  width: 25%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.button {
  width: 12.5%;
  padding: 10px 15px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}